node_modules/
.next/
build/
dist/
*.log
*.DS_Store
Movie Posters/
backend/Intex2.API/Intex2.API/obj/Intex2.API.csproj.nuget.dgspec.json
backend/Intex2.API/.vs/Intex2.API/CopilotIndices/17.13.439.2385/CodeChunks.db
backend/Intex2.API/.vs/Intex2.API/FileContentIndex/5a7e1780-c6f7-447a-bcef-9011d4cb5beb.vsidx
backend/Intex2.API/Intex2.API/obj/Intex2.API.csproj.nuget.dgspec.json
backend/Intex2.API/Intex2.API/obj/Debug/net8.0/Intex2.API.GeneratedMSBuildEditorConfig.editorconfig
backend/Intex2.API/Intex2.API/obj/Debug/net8.0/Intex2.API.GeneratedMSBuildEditorConfig.editorconfig
backend/Intex2.API/Intex2.API/obj/Debug/net8.0/Intex2.API.AssemblyInfo.cs
backend/Intex2.API/Intex2.API/obj/project.nuget.cache
backend/Intex2.API/.vs/ProjectEvaluation/intex2.api.strings.v9.bin
backend/Intex2.API/.vs/ProjectEvaluation/intex2.api.projects.v9.bin
backend/Intex2.API/.vs/ProjectEvaluation/intex2.api.metadata.v9.bin
backend/Intex2.API/.vs/Intex2.API/v17/fileList.bin
backend/Intex2.API/.vs/Intex2.API/v17/DocumentLayout.json
backend/Intex2.API/.vs/Intex2.API/v17/DocumentLayout.backup.json
